.title-black {
     color: #070721;
     font-size: 20;
     line-height: calc(20 /32) + em;
     font-weight: 700;
}

.view-all {
     font-size: 14px;
     line-height: calc(14 / 20) + em;
     font-weight: 500;
     color: #3162FF;
     cursor: pointer;
}