//<Обнуление файлов / импорт переменных>====================================================================================================================================
@import "_nullStyle";
@import "_variables";
//<Обнуление файлов / импорт переменных>====================================================================================================================================

//-<Подключаем файлы стилей>==============================================================
@import "_main-page";
@import "_components";
@import "_profile-settings";
@import "_balance";
@import "_recent-users";

//-<Обнуление общиих параметров>-===================================================
body {
     font-family: $font-family;
     color: #000;
     font-size: 14px;
     font-weight: 400;
     background-color: #F5F5F5;

     padding: 20px 0;

     &._lock {
          overflow: hidden;
     }
}

//-<Обнуление общих параметров>-===================================================

//<Wrapper и Ограничивающий контейнер>-========================================================================
.wrapper {
     display: flex;
     flex-direction: column;
     min-height: 100%;
     width: 100%;
}

//---------------------------------------
._container {
     width: $maxWidthContainer + px;
     height: 1024px;
     margin: 0 auto;
     padding: 20px 10px;
     background: url("../img/bg-main.png") center/cover no-repeat;
     border-radius: 20px;
     box-shadow: 4px 5px 12px 5px #999;

}

//</Wrapper и Ограничивающий контейнер>========================================================================


//-<Основная сетка>==================================================================
.page {

     &__container {
          display: flex;
          gap: 40px;
     }


     &__main-content {
          flex: 1 1 auto;
     }

     &__side-bar-right {
          width: 352px;
          height: 100%;
     }

}

//-<Основная сетка>==================================================================